@charset "utf-8";
/* CSS Document */

.strength_meter {
  margin: 10px 0;
  height: 23px;
  width: 100%;
  background: silver;
}
.strength_meter div {
  height: 23px;
  width: 100%;
  height: 23px;
  text-align: center;
  color: black;
  font-weight: bold;
  line-height: 23px;
}
.veryweak {
  background-color: #ffa0a0;
  border-color: #f04040 !important;
}
.weak {
  background-color: #ffb78c;
  border-color: #ff853c !important;
}
.medium {
  background-color: #ffec8b;
  border-color: #fc0 !important;
}
.strong {
  background-color: #c3ff88;
  border-color: #8dff1c !important;
}
